@import 'sass-bootstrap/lib/bootstrap';

/**
 * Base/generic/utils
 */

.vspace {
  margin: 1em 0;
}

#view-container {
  // account for the fixed nav at the top
  padding-top: 40px;
}

// give the user menu in the header a bit of space
.nav-user {
    margin-left: 2em;
}


// fix chosen because it looks fucked
form .chosen-container {
    display: block;
    width: 100% !important;

    ul.chosen-choices {
        padding: 6px;
        border-radius: 3px;

        li.search-field {
            width: 100%;

            input[type=text] {
                width: 100% !important;
            }
        }
    }

}


#messages {
    position: fixed;
    top: 55px;
    left: 0;
    z-index: 1031;
    margin: 8px 0 0 10%;
    width: 80%;
    display: none;

    &.active {
        display: block;
    }

    div {
        position: relative;
        -webkit-animation: fadeinanddrop 0.3s ease-out;
    }
}

teamwidget .loader {
    display: block;
    margin: 0 auto;
}

// game widgets
gamewidget {
    .panel {
        position: relative;
    }

    .btn-edit {
        position: absolute;
        top: 8px;
        right: 8px;

        // todo - must be a variable for this, dark green.
        color: rgb(70,136,71);

        &:hover {
            color: #333;
            cursor: pointer;
        }
    }
}

#view-team-list {
    .teams-table {
        th {
            cursor: pointer;
        }
    }
}

/**
 * Old shit
 */

.section-players button {
    margin: 0 3px;
}

/**
 * Game widget
 */

gamewidget .table-match-history {
    tr td, tr th {
        text-align: center;

        &:first-child{
            text-align: left;
        }
    }
}


// make an input look like regular text.
// makes text editing look cool.
.cleaninput, .cleaninput:disabled {
    font: inherit;
    background: none;
    border: none;
    padding: 0;
    outline: none;

    &:focus {
        color: skyblue;
    }
}


/** Better loader **/

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-animation: loader-1 0.5s infinite linear;
    animation: loader-1 0.5s infinite linear;

    &::before, &::after {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 80%;
        height: 80%;
        background-color: skyblue;
        top: 5%;
        -webkit-animation: 0.5s infinite ease-in-out;
        animation: 0.5s infinite ease-in-out;
    }

    &::before {
        left: -5%;
        -webkit-animation: loader-2 0.5s infinite alternate ease-in-out;
        -webkit-transform-origin: 10% 50%;
        animation: loader-2 0.5s infinite alternate ease-in-out;
        transform-origin: 10% 50%;
    }

    &::after {
        left: auto;
        right: -5%;
        -webkit-animation: loader-2 0.5s 0.5s infinite alternate ease-in-out;
        -webkit-transform: scale(0);
        -webkit-transform-origin: 90% 50%;
        animation: loader-2 0.5s 0.5s infinite alternate ease-in-out;
        transform: scale(0);
        transform-origin: 90% 50%;
    }

    &.pageloader {
        position: fixed;
        top: 30%;
        left: 48%;
        left: calc(50% - 50px);
    }

}

@-webkit-keyframes loader-1 {
    0%   { -webkit-transform: rotate(20deg); }
    100% { -webkit-transform: rotate(380deg); }
}

@-webkit-keyframes loader-2 {
    0%   { -webkit-transform: scale(0); }
    100% { -webkit-transform: scale(1); }
}

@keyframes loader-1 {
    0%   { transform: rotate(20deg); }
    100% { transform: rotate(380deg); }
}

@keyframes loader-2 {
    0%   { transform: scale(0); }
    100% { transform: scale(1); }
}


/** animations **/

@-webkit-keyframes fadeinanddrop {
    0% { opacity: 0; top: -20px; }
    100% { opacity: 1; top: 0; }
}
