@import 'sass-bootstrap/lib/bootstrap';

/**
 * Base/generic/utils
 */

.vspace {
  margin: 1em 0;
}

#view-container {
  // account for the fixed nav at the top
  padding-top: 40px;
}

// give the user menu in the header a bit of space
.nav-user {
    margin-left: 2em;
}


/**
 * Old shit
 */

.section-players button {
    margin: 0 3px;
}

/**
 * Game widget
 */

gamewidget .table-match-history {
    tr td, tr th {
        text-align: center;

        &:first-child{
            text-align: left;
        }
    }
}

/** Better loader **/

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-animation: loader-1 1s infinite linear;
    animation: loader-1 1s infinite linear;

    &::before, &::after {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 80%;
        height: 80%;
        background-color: #333;
        top: 5%;
        -webkit-animation: 1s infinite ease-in-out;
        animation: 1s infinite ease-in-out;
    }

    &::before {
        left: -5%;
        -webkit-animation: loader-2 1s infinite alternate ease-in-out;
        -webkit-transform-origin: 10% 50%;
        animation: loader-2 1s infinite alternate ease-in-out;
        transform-origin: 10% 50%;
    }

    &::after {
        left: auto;
        right: -5%;
        -webkit-animation: loader-2 1s 1s infinite alternate ease-in-out;
        -webkit-transform: scale(0);
        -webkit-transform-origin: 90% 50%;
        animation: loader-2 1s 1s infinite alternate ease-in-out;
        transform: scale(0);
        transform-origin: 90% 50%;
    }

    &.pageloader {
        position: fixed;
        top: 30%;
        left: 48%;
        left: calc(50% - 50px);
    }

}

@-webkit-keyframes loader-1 {
    0%   { -webkit-transform: rotate(20deg); }
    100% { -webkit-transform: rotate(380deg); }
}

@-webkit-keyframes loader-2 {
    0%   { -webkit-transform: scale(0); }
    100% { -webkit-transform: scale(1); }
}

@keyframes loader-1 {
    0%   { transform: rotate(20deg); }
    100% { transform: rotate(380deg); }
}

@keyframes loader-2 {
    0%   { transform: scale(0); }
    100% { transform: scale(1); }
}

