<h3>Teams</h3>

<div class="row">
    <teamwidget ng-repeat="team in teams track by $index" team="teams[$index]" class="col-xs-6"></teamwidget>
</div>

<div class="row">
    <section ng-show="showStats" class="text-center col-md-6 col-md-offset-3">
        <h4>Matchup History</h4>

        {{ teams[0].name }} {{ teams}}

        <table class="table table-striped table-bordered table-match-history">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ teams[0].name }}</th>
                    <th>{{ teams[1].name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stat in stats.stats">
                    <td>{{ stat.title }}</td><td>{{ stat.t1 }}</td><td>{{ stat.t2 }}</td>
                </tr>
            </tbody>
        </table>

        <p class="lead"><strong>Last 5 winners:</strong> {{ stats.streak }}</p>
    </section>
    <p class="lead text-center" ng-show="noStats">This will be the first time these teams have played each other.</p>
</div>

<div class="text-center vspace" ng-show="teamsReady">
    <button ng-click="createGame();" ng-disabled="createdGame" type="button" class="btn btn-xl btn-primary">Start This Game.</button>
</div>

<gamewidget ng-show="createdGame" game="createdGame" edit="true">
