<section>
    <p class="lead text-center">
        <b>{{ teams[0].name || teams[0].playersString}}</b> vs <b>{{ teams[1].name || teams[1].playersString}}</b>
        <br>
        <small>{{ game.date }}</small>
    </p>

    <div class="results" ng-show="hasResults">

    </div>

    <div class="form-results=" ng-hide="hasResults">
        <p>Add a result for this game!</p>

        Winner
            <select>
                <option disabled>Who won?</option>
                <option ng-repeat="team in teams" value="team.id">{{ team.name || team.playersString }}</option>
                <option value="-1">Draw</option>
            </select>

        Redemption <input type="checkbox">
    </div>
</section>
