<section class="panel" ng-class="{'panel-success': game.hasResults, 'panel-warning': !game.hasResults, 'panel-danger': deleted}">
    <div class="panel-heading">
        <h4 class="text-center">
            <b>{{ game.teams[0].name || game.teams[0].playersString}}</b> vs <b>{{ game.teams[1].name || game.teams[1].playersString}}</b>
            <br>
            <small>{{ game.readableDate }}</small>
        </h4>
    </div>

    <div class="panel-body" ng-hide="deleted">
        <div ng-show="!game.hasResults && !editing">
            <p class="lead">The outcome of this game hasn't been recorded. <a ng-click="editing=true" style="white-space:nowrap;">Add the result &raquo;</a></p>
        </div>

        <div class="results clearfix" ng-show="game.hasResults && !editing">
            <p class="lead">{{ game.winningTeam.name }} won.</p>
            <span class="label pull-right" ng-class="{'label-success': game.redemption, 'label-danger': !game.redemption}">{{ game.redemption ? 'REDEEMED' : 'REDEMPTION DENIED' }}.</span>
        </div>

        <div class="form-results=" ng-show="editing">
            <form class="form">
            <fieldset>
                <div class="form-group">
                    <label for="date">When was it played?</label>
                    <quick-datepicker ng-model="game.editableDate">
                </div>
                <div class="form-group">
                    <label for="winner">Who won?</label>
                    <select ng-model="game.winningTeamId" ng-change="setLoser()" ng-options="team.id as team.name for team in game.teams"><option>lol!</option></select>
                </div>
                <div class="form-group">
                    <label for="loser">Who lost?</label>
                    <select ng-model="game.losingTeamId" ng-change="setWinner()" ng-options="team.id as team.name for team in game.teams"></select>
                </div>

                <div class="form-group">
                    <label for="redemption">
                        Was there redemption?
                        <input type="checkbox" name="redemption" ng-model="game.redemption">
                    </label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="save()">Save</button>
                    <button type="reset" ng-click="editing=false" class="btn btn-warning btn-sm">Cancel</button>
                    <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="delete(game.id)" ng-show="showDelete">Really?</button>
                    <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="showDelete=true">Delete</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel-body" ng-show="deleted">
        <p>This game has been removed.</p>
    </div>

    <span class="btn-edit glyphicon glyphicon-pencil" ng-click="editing=!editing" ng-show="user.isAdmin"></span>


</section>
