<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav-collapse">
                <span class="sr-only">Toggle Nav</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Pong Time?</a>
        </div>


        <div class="collapse navbar-collapse" id="header-nav-collapse">

            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ activeLeague.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="league in leagues"><a href="/leagues/{{ league.id }}/" ng-click="setLeague(league.id)">{{ league.name }}</a></li>
                        <li class="divider"></li>
                        <li ng-show="user.isAdmin"><a href="/leagues/new/">Add League...</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right nav-user" ng-switch on="signedIn">

                <li class="dropdown" ng-switch-when="true">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/auth/logout/" target="_self">Sign Out</a></li>
                    </ul>
                </li>

                <li class="dropdown" ng-switch-when="false">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/auth/google/" target="_self">Google</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active:path==='/'}"><a href="/">New Game</a></li>
                <li ng-class="{active:path==='/games'}"><a href="/games/">Played Games</a></li>
                <li ng-class="{active:path==='/teams'}"><a href="/teams">Teams</a></li>
                <li ng-class="{active:path==='/players'}"><a href="/players">Players</a></li>
            </ul>

        </div>

    </div>
</nav>
