<div class="loader pageloader" ng-show="refreshing"></div>

<div class="container" ng-hide="refreshing">

    <div class="jumbotron">
        <button ng-show="hasBeenEdited" class="btn btn-primary btn-xs pull-right" ng-click="save()">Save</button>
        <h1>
            <input ng-model="league.name" class="cleaninput" ng-change="hasBeenEdited=true">
        </h1>
        <p class="lead">{{ numPlayers }} players have played {{ numGames }} games.</p>
    </div>

    <h3>Quick Stats</h3>
    <span ng-repeat="stat in stats"><b>{{ stat.title }}:</b> {{ stat.value }}</span>

</div>
