<div class="loader pageloader" ng-show="refreshing"></div>

<div class="container" ng-hide="refreshing">

    <header class="page-header">
        <h1>New Game</h1>
    </header>

    <section class="section-players">
        <div class="text-center">

            <form class="form-inline">
            <div class="form-group">
                <select class="form-control" ng-model="highlightedTeam">
                    <option disabled value="-1">Pick a team</option>
                    <option ng-repeat="team in teams" value="{{ team.id }}">{{ team.name }}</option>
                </select>

                <button class="btn btn-small" ng-click="addTeamToGame(highlightedTeam)">Add to game</button>
</div>
            </form>

            <p>
                <a ng-show="comp.writable" ng-click="showAddTeam=!showAddTeam">Add a new team?</a>
            </p>

            <form class="row" ng-show="showAddTeam" ng-submit="addNewTeam(newTeamName)" style="margin-top: 20px;">
                <div class="input-group col-md-4 col-md-offset-4 col-xs-12 ">
                    <input type="text" class="form-control" ng-model="newTeamName" placeholder="Team Name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Add</button>
                    </span>
                </div>
            </form>
        </div>


    </section>

    <section>
        <creategame teams="activeTeams"></creategame>
    </section>

</div>
