<div class="loader pageloader" ng-show="refreshing"></div>

<div class="container" ng-hide="refreshing">
    <div class="jumbotron">
        <button ng-show="hasBeenEdited" class="btn btn-primary btn-xs pull-right" ng-click="save()">Save</button>
        <h1>
            <input ng-model="player.name" class="cleaninput" ng-change="hasBeenEdited=true">
        </h1>

        <div ng-show="player.stat.games">
            <p>Has played {{ player.stat.games }} {{ 'game'|plural:player.stat.games }}, winning {{ player.stat.wins }} and losing {{ player.stat.losses }}. That's a win-rate of {{ player.stat.winPercentage }}%.</p>
            <p ng-show="player.stat.hottest > 1">Hottest streak was {{ player.stat.hottest }} wins.</p>
            <p ng-show="player.stat.coldest > 1">Coldest streak was {{ player.stat.coldest }} losses.</p>

            <p ng-show="player.stat.streak">Current streak is {{ player.stat.streakReadable }}.</p>
        </div>
    </div>

    <p class="lead">Has played in {{ player.teams.length }} teams:</p>
    <ul>
        <li ng-repeat="team in player.teams"><a href="{{ team.url }}">{{ team.name }}</a></li>
    </ul>
</div>
