<div class="loader pageloader" ng-show="refreshing"></div>

<div class="container" ng-hide="refreshing" id="view-team-list">

    <div class="page-header">
        <h1>{{ pageTitle }}</h1>
    </div>

    <section class="teams-widgets" ng-show="showTeamWidgets">
        <div class="row">
            <teamwidget ng-repeat="team in teams" team="team" class="col-xs-12 col-sm-6"></teamwidget>
        </div>
    </section>

    <section class="teams-table">
        <header class="row">
            <div class="col-md-8">
                <h2>Team Stats</h2>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="filterquery">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" ng-show="!filterquery"></span>
                        <span class="glyphicon glyphicon-remove" ng-show="filterquery" ng-click="filterquery=''"></span>
                    </span>
                </div>
            </div>
        </header>
        <table class="table table-striped table-hover">
            <thead>
                <tr ng-click="reverse=!reverse;">
                    <th ng-click="predicate='name'">Team</th>
                    <th ng-click="predicate='stat.games'">Games</th>
                    <th ng-click="predicate='stat.wins'">Wins</th>
                    <th ng-click="predicate='stat.winPercentage'">Win %</th>
                    <th ng-click="predicate='stat.losses'">Losses</th>
                    <th ng-click="predicate='stat.lossPercentage'">Loss %</th>
            <th ng-click="predicate='stat.streak'">Streak</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in teams | orderBy:predicate:reverse | filter:filterquery">
                    <td><a href="{{ team.url }}">{{ team.name }}</a> <small ng-show="showPlayerNames">{{ team.playerNames }}</small></td>
                    <td>{{ team.stat.games }}</td>
                    <td>{{ team.stat.wins }}</td>
                    <td>{{ team.stat.winPercentage }}%</td>
                    <td>{{ team.stat.losses }}</td>
                    <td>{{ team.stat.lossPercentage }}%</td>
                    <td>{{ team.stat.streak }}</td>
                </tr>
            </tbody>
        </table>
    </section>

</div>
