<div class="loader pageloader" ng-show="refreshing"></div>

<div class="container" ng-hide="refreshing">

    <div class="jumbotron">
        <h1>{{ team.name }}</h1>
        <h3 class="team-members"><span ng-repeat="player in team.players"><a href="{{ player.url }}">{{ player.name }}</a> {{$last ? '' : ' and ' }}</span></h3>
        <div ng-show="{{ team.stat.games }}">
            <p>{{ hasHave|capitalize }} played {{ team.stat.games }} {{ 'game'|plural:team.stat.games }}, winning {{ team.stat.wins }} and losing {{ team.stat.losses }}. That's a win-rate of {{ team.stat.winPercentage }}%.</p>
            <p>{{ hasHave|capitalize }} won redemption {{ team.stat.redemptionsHad }} times.</p>
            <p>{{ hasHave|capitalize }} conceded redemption {{ team.stat.redemptionsGiven }} {{ 'time'|plural:team.stat.redemptionsGiven }}.</p>
            <p ng-show="team.stat.streak > 1 ">Their current streak is {{ team.stat.streak }}.</p>
        </div>
    </div>

</div>
